#On Docker Container
PORT=3002
MONGODB_URI=MONGODB_URI
JWT_SECRET=JWT_SECRET
NODE_ENV=development 
REDIS_URL=redis://redis:6379
RABBITMQ_URL=rabbitmq://rabbitmq:5672

#On localhost 
PORT=3002
MONGODB_URI=MONGODB_URI
JWT_SECRET=JWT_SECRET
NODE_ENV=development 
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
