#On Docker Container
cloud_name=cloudinary cloud name
api_key=cloudinary api key
api_secret=cloudinary api secret
PORT=3002
MONGODB_URI=MONGODB_URI
NODE_ENV=development 
RABBITMQ_URL=rabbitmq://rabbitmq:5672

#On localhost 
cloud_name=cloudinary cloud name
api_key=cloudinary api key
api_secret=cloudinary api secret
PORT=3002
MONGODB_URI=MONGODB_URI
NODE_ENV=development 
RABBITMQ_URL=amqp://localhost:5672
